<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>AI Object Detection Tool</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<header>

<h1>🤖 AI Object Detection Tool</h1>

<p>YOLOv8 + Flask + OpenCV</p>

</header>

<div class="container">

<div class="upload">

<input type="file" id="imageInput">

<button onclick="detectObjects()">🚀 Detect Objects</button>

</div>

<div class="images">

<div class="card">

<h2>Original Image</h2>

<img id="preview">

</div>

<div class="card">

<h2>Detection Result</h2>

<img id="resultImage">

</div>

</div>

<div class="resultCard">

<h2>Detection Summary</h2>

<div id="result"></div>

</div>

</div>

<footer>

Developed By Mohit ❤️

</footer>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
